<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meds2Go - Main</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
        }
        section{
            display: flex;
            flex-wrap: wrap;
        }
        .right{
            /* margin-left: 2px; */
            width: 100vw;
            height: auto;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
        }
        .img{
            width: 100%;
            max-width: 100%;
            height: 300px;
            object-fit: cover;
        }
        
        .card{
            border-radius: 20px;
            margin: 1rem;
            width: 23%;
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            align-items: center;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }
        .card .img{
            border-radius: 20px 20px 0 0;
        }
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.719);
            }
        .cards{
            /* margin-left: 2%; */
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
        }
        .container {
            padding: 20px 16px 0 16px;
        }
        .form{
            margin-bottom: 10px;
        }
        .addCart{
        transform: translateY(4px);
        background-color : #2cb2cd;
        color: white;
        padding: 8px 20px;
        border-radius: 4px;
        border-color: #ffffff;
        }
        input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        }

        .number-input {
        border: 2px solid #ddd;
        display: inline-flex;
        }

        .number-input,
        .number-input * {
        box-sizing: border-box;
        }

        .number-input button {
        outline:none;
        /* -webkit-appearance: nonse; */
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin: 0;
        position: relative;
        }

        .number-input button:before,
        .number-input button:after {
        display: inline-block;
        position: absolute;
        content: '';
        width: 1rem;
        height: 2px;
        background-color: #0b8fae;
        transform: translate(-50%, -50%);
        }
        .number-input button.plus:after {
        transform: translate(-50%, -50%) rotate(90deg);
        }

        .number-input input[type=number] {
        font-family: sans-serif;
        max-width: 5rem;
        padding: .5rem;
        border: solid #ddd;
        border-width: 0 2px;
        font-size: 1.1rem;
        height: 2rem;
        font-weight: bold;
        text-align: center;
        }
        .checkout {
        background-color : #2cb2cd;
        color: white;
        padding: 15px 20px;
        border-radius: 40px;
        border-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        #botLeftButton {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        }

        
        nav {
            width: 100%;
            background-color: #3070cc;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        nav a {
        
            font-size: 20px;
            font-weight: 100;
            text-decoration:none;
            color: #fff;
        }
        .logoContainer{
            margin-left: 20px;
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        .logo{
            height: 50px;
            width: 50px;
        }
        .logoText{
            font-weight: 600;
        }
        .navRight{
            margin-right: 20px;
        }
        .capsule{
            margin: 0 6px;
            padding: 0 15px;
            background-color: #2cb2cd;
            border-style: solid;
            border-color:white;
            border-width: 2px;
            border-radius: 15px;
        }
        hr{
            border-top: 3px solid #2cb2cd
        }
        .filter{
            margin-left: 15px;
            display: flex;
            justify-content: space-between;
        }
        .filter button{
            padding: 10px;
            color: white;
            background-color: #2cb2cd;
            border-style: solid;
            border-color:white;
            border-width: 2px;
        }
        input[type=text]{
            border-style: solid;
            border-color:#2cb2cd;
            border-width: 2px;
            padding: 9px;
        }
        button{
            padding: 10px;
            color: white;
            border-style: solid;
            border-color:white;
            background-color: #2cb2cd;
            border-width: 2px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/main/admin" class="logoContainer">
        <img src="/assets/logo.png" alt="" class="logo">
        <p class="logoText">Meds2Go</p>
        </a>
        <div class="navRight">
            <a class="capsule" href="/main/admin">Home</a>
            <a class="capsule" href="/main/<%= userProfile.id %>/checkout">Cart</a>
            <a class="capsule" href="/logout">Logout</a>

        </div>
    </nav>
    <section>
        
        <div class="right">
            <h1 style="text-align: center;">Medicines</h1>
            <div class="filter">
                <div>
                    <form>
                        <input type="text" name="search" id="">
                        <button type="submit">Search</button>
                    </form>

                </div>
                <a href="/main/admin/addMedicine"><button>Add Medicine</button></a>
                <div>
                    <a href="/main/admin/"><button>Semua</button></a>
                    <a href="/main/admin/?filter=Dewasa"><button>Adult</button></a>
                    <a href="/main/admin/?filter=Anak"><button>Kids</button></a>

                </div>
            </div>
            <div class="cards">
                <% medicines.forEach(el => { %>
                    <div class="card">
                        <div>
                            <img src="<%= el.imageUrl %>" alt="" class="img">
                            <hr>

                            <div class="container">
                                <h3><%= el.name %></h3>
                                <p>Price : <%= formatNumber(el.price) %></p>
                                <p>Description: <%= el.description %></p>
                                
                            </div>
                        </div>
                        <div>
                            <a href="/main/admin/edit/<%= el.id %>"><button>Edit</button></a>
                            <a href="/main/admin/delete/<%= el.id %>"><button>Delete</button></a>
                            
                        </div>
                    </div>
                <%}) %>
            </div>
        </div>

        <div id="botLeftButton">
            <a href="/main/<%= userProfile.id %>/checkout"><button class="checkout">Check-out</button></a>
            
        </div>
    </section>
</body>
</html>