<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meds2Go - Main</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <nav>
        <a href="/main/<%= userProfile.id %>" class="logoContainer">
            <img src="/assets/logo.png" alt="" class="logo">
            <p class="logoText">Meds2Go</p>
        </a>
        <div class="navRight">
            <a class="capsule" href="/main/<%= userProfile.id %>">Home</a>
            <a class="capsule" href="/main/<%= userProfile.id %>/checkout">Cart</a>
            <a class="capsule" href="/logout">Logout</a>

        </div>
    </nav>
    <section>
        <div class="left container">
            <img src="<%= userProfile.profileImage %>" alt="" class="img">
            <div>
                <h1>
                    <%= userProfile.titledName %>
                </h1>
                <p>Age: <%= userProfile.age %>
                </p>
                <p>Gender: <%= userProfile.gender %>
                </p>
                <p>Balance: <%= formatNumber(userProfile.balance) %>
                </p>

            </div>

        </div>

        <div class="right">
            <h1 style="text-align: center;">Medicines</h1>
            <div class="filter">
                <div>
                    <form>
                        <input type="text" name="search" id="">
                        <button type="submit">Search</button>
                    </form>

                </div>
                <div>
                    <a href="/main/<%= userProfile.id %>"><button>Semua</button></a>
                    <a href="/main/<%= userProfile.id %>?filter=Dewasa"><button>Adult</button></a>
                    <a href="/main/<%= userProfile.id %>?filter=Anak"><button>Kids</button></a>

                </div>
            </div>
            <div class="cards">
                <% medicines.forEach(el=> { %>
                    <div class="card">
                        <div>
                            <img src="<%= el.imageUrl %>" alt="" class="img">
                            <hr>

                            <div class="container">
                                <h3>
                                    <%= el.name %>
                                </h3>
                                <p>Price : <%= formatNumber(el.price) %>
                                </p>
                                <p>Description: <%= el.description %>
                                </p>

                            </div>
                        </div>
                        <form action="/main/<%= userProfile.id %>/buy/<%= el.id %>" method="post" class="form">
                            <div class="number-input">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                    type="button"></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                    class="plus" type="button"></button>
                            </div>
                            <button type="submit" class="addCart">Add to Cart</button>
                        </form>
                    </div>
                    <%}) %>
            </div>
        </div>

        <div id="botLeftButton">
            <a href="/main/<%= userProfile.id %>/checkout"><button class="checkout">Check-out</button></a>

        </div>
    </section>
</body>

</html>